<div class="votingContainer" *ngIf="showVoting">

  <div class="voting-textblock1">
    <img src="assets/img/yellow_box.png"/>
    <p class="voting-staticSubtitle">Velg det innspillet du synes er viktigst at blir hørt!</p>
    <button *ngIf="listingService.grouping.votingOptions.resultsVisible" md-button (click)="showResults = true; showVoting = false;">Se resultat</button>
  </div>


  <!--<iframe class="nettskjema-iframe voting-iframe" src="https://nettskjema.uio.no/answer/86913.html?embed=1" title="bidrag" frameborder="0" width="100%">Hvis du kan lese dette, støtter ikke nettleseren din iframes.</iframe>-->

  <div class="opinion-form">
    <form id="voting_form">
      <p class="opinion-text">Ønsker du heller å gi din egen mening? Skriv her:</p>
      <textarea type="text" class="opinion-input" [(ngModel)]="inputData.text" name="input_text" required></textarea>
      <div class="opinion-text">
        <p class="opinion-text">Jeg...:</p>
        <label>Bor<input [(ngModel)]="inputData.living" type="checkbox" name="living"> </label>
        <label>Studerer<input [(ngModel)]="inputData.student" type="checkbox" name="student"> </label>
        <label>Jobber<input [(ngModel)]="inputData.working" type="checkbox" name="working"> </label>
        <label>Annet<input [(ngModel)]="inputData.other" type="checkbox" name="other"> </label>
      </div>
      <button type="submit" class="opinion-button" (click)="submitForm()">Send</button>
      <p class="text-footnote">For spørsmål, kontakt: <a href="mailto:ole.smordal@uv.uio.no">Ole Smørdal (ole.smordal@uv.uio.no)</a></p>
    </form>
  </div>

  <div class="voting-questionblock">

      <img class="voting-pil" src="assets/img/pil.png"/>

        <div class="voteContributionDisplayBox1 pulse">
          <app-contribution [(contribution)]="contribution1" [grouping]="listingService.grouping" [contributionVisibleState]="contributionVisibleState" (click)="castVote(true, false)"></app-contribution>
        </div>
        <div class="voteContributionDisplayBox2 pulse">
          <app-contribution [(contribution)]="contribution2" [grouping]="listingService.grouping" [contributionVisibleState]="contributionVisibleState" (click)="castVote(false, true)"></app-contribution>
        </div>


    <p class="voting-categoryTitle">{{listingService.grouping.categoryTitle}}</p>
    <!--p class="voting-categorySubtitle">{{listingService.grouping.categorySubtitle}}</p-->
  </div>

  <div class="voting-textblock3">
    <img src="assets/img/yellow_box2.png"/>
    <!--<p>Du kan også bidra med dine egne observasjoner, innspill og forslag til inspirasjon fra andre byer på facebooksiden framtidscampus.</p>-->
  </div>

  <div class="voting-textblock4">
    <p>Dette er del av flere medvirkningstiltak i arbeidet med bycampus, og et samarbeid mellom Trondheim kommune,
      NTNU og forskningsprosjektet 3C - Co-constructing City Futures.</p>
    <!--<img src="assets/img/logo_ntnu_gray.png"/>-->
  </div>

  <!--<div class="voting-buttonblock">
    <div class="voting-buttonblock-button" (click)="castVote(true, true)">
      <img src="assets/img/both_icon.png"/><br>
      <span>begge</span>
    </div>
    <div class="voting-buttonblock-button" (click)="castVote(false, false)">
      <img src="assets/img/none_icon.png"/><br>
      <span>ingen</span>
    </div>
  </div>-->

</div>





<div *ngIf="showResults">
  <app-contribution-grid id="freewall" class="freewall"></app-contribution-grid>
</div>
