.grouping-card {
  margin: 5px;
  min-width: 300px;
}

.contribution-card {
  margin: 5px;
  width: 300px;
}

.chip-card {
  margin: 5px;
  width: 300px;
}

.contribution-card-header-image {
  background-size: cover;
}

.mat-chip {
  outline: none;
}

.mat-card-subtitle {
  font-size: 0.7em;
}

.creator-voting-radio-button {
  margin: 0 10px 10px 0;
}

.groupings-header {
  width: 100%;
  margin: 10px;
}

mat-form-field {
  width: 100%;
}




/* Vetting styling */


.vettingContainer {

}

.groupingsList {

}

.contributionsList {

}

mat-list mat-list-item .wrapLine {
  white-space: normal;
}

mat-list .increasedHeight {
  height: 200px !important;
}

mat-list h3 {
  background-color: lightgray;
}

mat-list-item {
  margin-top: 5px;
  cursor: pointer;
}

mat-list-item.mat-list-item-content {
  height: auto;
}

.itemSelected {
  background-color: lightgray;
}
