<md-tab-group>

  <md-tab label="Groupings">
    <md-list>
      <md-list-item *ngFor="let grouping of groupings; let i=index;">
        <p md-line> {{grouping.categoryTitle}} </p>
        <p md-line> {{grouping.categorySubtitle}} </p>
        <button md-button (click)="editGrouping(grouping)" *ngIf="itemToEdit !== $index">Edit</button>
        <div *ngIf="groupingToEdit === grouping">
          <md-input-container>
            <input mdInput placeholder="Category Title" [(ngModel)]="grouping.categoryTitle">
            ToDo: Remove this:{{grouping.categoryTitle}}
          </md-input-container>
          <button md-button (click)="itemToEdit = -1">Done</button>
        </div>
      </md-list-item>
    </md-list>
  </md-tab>


  <md-tab label="Contributions">
    <md-list>
      <md-list-item *ngFor="let contribution of contributions">
        <img md-list-avatar [src]="contribution.image.url" alt="Preview of this image">
        <p md-line> {{contribution.caption}} </p>
      </md-list-item>
    </md-list>
  </md-tab>

</md-tab-group>
