<div [@carouselImageState]="imageActive" class="carousel" *ngIf="selectedContribution !== null">
  <!--<div class="carousel-contribution" [ngStyle]="{'background-image': 'url(\'' + selectedContribution.image.url + '\')'}">-->
  <div class="main-image">
    <img [ngClass]="{'main-image': viewMode === 'standard', 'main-image-smaller': viewMode === 'iframe'}" [src]="selectedContribution.image.url">
    <div class="carousel-details">
      <span class="carousel-caption">{{selectedContribution.caption}}</span><br>
      <span class="carousel-username">{{selectedContribution.user.username}}</span>
    </div>

  </div>
</div>
