.carousel {
  position: relative;
}

.main-image {
  position: relative;
  display: block;
}
.main-image img {
  height: 100vh;
}
.carousel-details {
  position: absolute;
  bottom: 35px;
  padding: 2px 30px;
  background-color: rgba(0,0,0,0.4);
}

.main-image-smaller {
  height: 30vh;
}

/*.carousel-contribution {
  width: 100%;
  height: 100%;
  position: fixed;
  display: block;
  overflow: hidden;
  background-size: 100% 100%;
}*/

.carousel-caption {
  font-family:"HelveticaNeueW02-45Light", Helvetica, sans-serif;
  font-size: 16pt;
  color: white;
}

.carousel-username {
  font-family:"HelveticaNeueW02-75Bold", Helvetica, sans-serif;
  font-size: 16pt;
  color: white;
}

@media all and (max-width: 960px) {

  .carousel {
    position: relative;
    left: 0;
    display: block;
  }

  .main-image img {
    width: 100vw;
    height: auto;
  }

}

