.contribution-container {
  border: dashed rgba(0,100,0,0.4) 3px;
  border-radius: 15px;
  position: relative;
}

.contribution {
  position: relative;
  height: 200px;
  width: 200px;
  overflow: hidden;
  background-position: center;

  background-size: contain;
  background-repeat: no-repeat;
}

.contribution-large {
  height: 350px;
  width: 350px;
}

.contribution img {
  height: 200px;
  width: 200px;
}

.contribution-details {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 2px 5px;
  background-color: rgba(0,0,0,0.4);
}

.contribution-voting {
  font-family:"HelveticaNeueW02-45Light", Helvetica, sans-serif;
  font-size: 0.7em;
  color: white;
}

.contribution-caption {
  font-family:"HelveticaNeueW02-45Light", Helvetica, sans-serif;
  font-size: 16pt;
  color: white;
}

.contribution-caption-as-image {
  position: relative;
  font-family:"HelveticaNeueW02-75Bold", Helvetica, sans-serif;
  color: black;
  height: auto;
  width: 300px;
  padding: 5px 40px 5px 5px;
}
.contribution-caption-as-image p {
  font-family:"HelveticaNeueW02-75Bold", Helvetica, sans-serif;
  margin: 0;
  display: inline;
}
.contribution-caption-quotation {
  position: absolute;
  font-size: 5em;
  display: inline-block;
  left: -40px;
  top: -20px;
}

.contribution-username {
  font-family:"HelveticaNeueW02-75Bold", Helvetica, sans-serif;
  font-size: 0.8em;
  color: white;
}

.checkbox-container {
  position: absolute;
  font-family:"HelveticaNeueW02-75Bold", Helvetica, sans-serif;
  right: 5px;
  top: 15px;
  text-align: center;
  color: rgb(0,100,0);
  background-color: rgba(255,255,255,0.6);
}

.checkbox-container #checkboxWord {
  display: block;
  line-height: 0.6;
}
.checkbox-container #voteWord {
  display: block;
  font-size: 0.25em;
}
