<div class="contribution" [ngClass]="{'contribution-large': grouping.displayMode === 'Voting'}" [attr.data-voting]="contribution.groupingVoting.votes" [ngStyle]="{'background-image': 'url(\'' + contribution.image.url + '\')'}">
  <div class="contribution-details" *ngIf="grouping.displayMode !== 'Voting' || grouping.votingOptions.imageCaption">
    <span class="contribution-voting" *ngIf="grouping.displayMode === 'Voting' && grouping.votingOptions.resultsVisible">♥ {{contribution.groupingVoting.votes}}</span><br>
    <span class="contribution-caption">{{contribution.caption}}</span><br>
    <span class="contribution-username">{{contribution.user.username}}</span>
  </div>
</div>
