.brick {
  position: relative;
  height: 200px;
  width: 200px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
}

.brick img {
  height: 200px;
  width: 200px;
}

.brick span {
  font-family:"HelveticaNeueW02-75Bold", Helvetica, sans-serif;
  font-size: 0.8em;
  color: white;
  position: absolute;
  bottom: 5px;
  left: 5px;
  padding: 2px 5px;
  background-color: rgba(0,0,0,0.4);
}
