extends layout

block content
  h1= title
  p More coming soon! In the mean time see <a href="http://www.uv.uio.no/iped/english/research/projects/3c/index.html" target="none">here</a> for project details

