extends layout

block content
  h1= title
  h2 Future Campus project

  br
  br
  br

  div(style="max-width: 1024px;")
    p(style="text-align: right; color: blue; font-size: 1.5em;")
      b #framtidscampus
    p(style="color: blue; font-size: 1.3em;") Bor, studerer eller jobber du i Elgeseter-bydelen? Er du opptatt av hvordan bydelen skal bli?
    p Del observasjoner, forslag og inspirasjon som campusprosjektet kan ta med seg videre. Ditt bidrag vil bli synlig i arbeidet med campusutviklingen – i debatter, utstillinger, etc. – fremover.
    p Slik deler du:
      p
        b Instagram:</b> Del bilder via åpen Instagram-profil, merket med #framtidscampus
      p
        b MMS:</b> Send MMS med kodeord TST og bildetekst til 1963. Bidrag legges ut på www.framtidscampus.no. (Prisen per MMS er gitt av ditt eget mobilabonnement.)</p>
  </div>

  br
  p(style="font-size: 1.3em;") <a href="/testList">Contributions</a>
  br
  br
  p More coming soon! In the mean time see <a href="http://www.uv.uio.no/iped/english/research/projects/3c/index.html" target="none">here</a> for project details and <a href="http://www.ntnu.edu/campusdevelopment" target="none">here</a> for background on the campus redevelopment
  p <a href="/privacy">Privacy policy</a>