extends layout

block content
  h1= title
  h2 Future Campus project
  p More coming soon! In the mean time see <a href="http://www.uv.uio.no/iped/english/research/projects/3c/index.html" target="none">here</a> for project details and <a href="http://www.ntnu.edu/campusdevelopment" target="none">here</a> for background on the campus redevelopment
  p <a href="/privacy">Privacy policy</a>
  p The list of <a href="/testList">contributions</a>