extends layout

block content
    h1 Privacy Policy

    h2 Name of the Service
    p 3C

    h2 Description of the Service
    p Co-constructing city futures (3C) address participation in the construction of ideas and visions for city futures.

    h2 Controller
    p Ole Smørdal
    p Associate Professor - UiO Faculty of Educational Sciences
    p P.O Box 1161 Blindern
    p NO-0318 Oslo, Norway
    p ole.smordal@uv.uio.no

    h2 Technical Contact
    p Richard Nesnass
    p Software Engineer - FFS - UiO Faculty of Educational Sciences
    p P.O Box 1161 Blindern
    p NO-0318 Oslo, Norway
    p richard.nesnass@uv.uio.no

    h2 Jurisdiction
    p NO, Norway

    h2 Personal Data Processed
    p The following personal data is collected from contributions sent to the service by SMS, MMS or Instagram
    h3 Instagram
    ul
    li username and profile picture
    li user ID
    li link to the posted image

    h3 SMS / MMS
    ul
    li mobile number
    li link to the posted image


    h2 Purpose of the Processing of Personal Data
    p 3C uses the data for:
    ul
    li meaningful presentation of contributions to stakeholders
    li differentiation of contributions when presented in lists
    li returning to the user to update comments, likes, or change to the post's status
    li usage statistics and further development of the service

    h2 Third parties to whom personal data is disclosed
    p Aside from the attribution of contributions required by social media terms and conditions, personal data is not disclosed to anyone outside of the 3C team.

    h2 How to Access, Rectify, and Delete the Personal Data
    p The data is kept for the duration of the project. If you have queries about this or would like information removed, please contact the project team
    h2 Data Retention
    p Personal data is deleted if requested by the user. The personal data will be deleted at the completion of the project.

    h2 Data Protection Code of Conduct
    p Your personal data will be protected according to the Code of Conduct for Service Providers, a common standard for the research and higher education sector to protect your privacy.