extends layout

block content
  //h1= title
  p(style="font-size: 1.3em;") Framtidscampus

  ol
    for c in contributions
      li
      if c.origin === 'instagram'
        img(src= c.instagram_data.images.standard_resolution.url)
        p #{c.instagram_data.caption.text}
          span
            b &nbsp;#{c.instagram_data.user.username}
      else if c.origin === 'mms'
        img(src= c.message_data.images[0].url)
        p #{c.message_data.msg}
          span
            b &nbsp;(sent via MMS)