
.detailContainer {
  margin: auto;
  padding: 5% 10%;
   /*max-width:  800px; */
}

.carouselContainer {
  margin: 0;
  padding: 0;
}

.serendipitous-left-panel {
  height:100%;
  width: 75%;
}

.ntnu-logo {
  opacity: 0.2;
  width: 130px;
  margin-bottom: 10px;
}

.text-mainHeading {
  font-family:"HelveticaNeueW02-UltLight", Helvetica, sans-serif;
  font-size: 4em;
  text-align: center;
  width: 100%;
  margin: 20px;
}

.text-subHeading {
  font-family:"HelveticaNeueW02-UltLight", Helvetica, sans-serif;
  font-size: 1.5em;
}

.text-bold {
  font-weight: bold;
}

.text-footnote {
  font-size: 0.75em;
}

.freewall {
  width: 100%;
  margin: auto;
  display: inline-block;
}

.serendipitous-categoryTitle {
  /*height: 50%;
  padding: 40% 10%;*/
  text-transform: uppercase;
  font-family: "HelveticaNeueW02-UltLight", Helvetica, sans-serif;
  font-size: 2.5em;
  margin: 15px;
  text-align: center;
}

.serendipitous-categorySubtitle {
  /*height: 50%;
  padding: 40% 10%;*/
  font-family: "HelveticaNeueW02-UltLight", Helvetica, sans-serif;
  font-size: 1.5em;
  margin: 15px;
  text-align: center;
}

.serendipitous-questionmark {
  margin: 30px 0;
}
.serendipitous-questionmark img {
  width: 60px;
}

.serendipitous-container {
  position: relative;
  width: 100%;
  height: 100vh;
}


@media all and (max-width: 960px) {

  .serendipitous-container {
    position: relative;
    width: 100%;
    display: block;
  }

  .text-mainHeading {
    font-size: 2em;
    margin: 10px 5px;
  }

  .serendipitous-categoryTitle {
    padding: 5% 3%;
    font-size: 2em;
  }

  .serendipitous-categorySubtitle {
    padding: 5% 3%;
    font-size: 1.5em;
  }

  .serendipitous-questionmark {

  }

}
