
<div *ngIf="showDetail" class="detailContainer Center-Container" (click)="resetDetailTimer()">

  <div *ngIf="listingService.grouping.displayMode === 'Serendipitous'">
    <!--p class="text-mainHeading">#framtidscampus*</p-->
    <p class="text-subHeading">ER DU OPPTATT AV HVORDAN DENNE DELEN AV BYEN SKAL BLI?</p>
    <p>Bidra med dine observasjoner, innspill og forslag til inspirasjon fra andre byer på facebooksiden framtidscampus.
      Hver fredag frem til og med 15. september svarer KOHT arkitekter på fem av de viktigste innspillene fra Trondheims byboere der. </p>
    <p> Prosjektet er del av medvirkningstiltak i arbeidet med bycampus, og et samarbeid mellom Trondheim kommune,
      NTNU og forskningsprosjektet 3C - Co-constructing City Futures.</p>
    <!--p class="text-subHeading">SLIK DELER DU:</p>
    <p><span class="text-bold"> > INSTAGRAM </span> // Del bilder via åpen Instagram-pro l, merket med #framtidscampus<br>
      <span class="text-bold"> > MMS </span> // Send MMS med kodeord TST og bildetekst til 1963. Bidrag legges ut på www.framtidscampus.no.
      (Prisen per MMS er gitt av ditt eget mobilabonnement.)</p><br>
    <p class="text-footnote">*#framtidscampus er del av  ere medvirkningstiltak i arbeidet med bycampus, og et sammarbeid mellom <a href="http://www.bycampus.no" target="none">Trondheim Kommune</a>,
      <a href="https://www.ntnu.no/campusutvikling" target="none">NTNU</a> og forskningsprosjektet <a href="http://www.uv.uio.no/iped/forskning/prosjekter/3c/index.html">3C - Co-constructing City Futures</a>.</p-->
    <br>
  </div>

  <div *ngIf="listingService.grouping.displayMode === 'Voting Results'">
    <p>Med dette “serendipitous display” forsøker vi å gjøre medvirkningstiltak mer virksomme
      ved å synliggjøre bidragene i såkalte “decition makers” sin umiddelbare kontekst. Hver
      fredag frem til 15. september vil KOHT arkitekter respondere på fem bidrag på facebooksiden <i>framtidscampus</i>.</p>
    <p>Prosjektet er del av medvirkningstiltak i arbeidet med bycampus, og et samarbeid mellom Trondheim kommune,
      NTNU og forskningsprosjektet 3C - Co-constructing City Futures.</p>
    <br>
  </div>

  <app-contribution-grid id="freewall" class="freewall"></app-contribution-grid>

</div>


<div class="carouselContainer" *ngIf="showCarousel">
  <div fxLayout="row" fxLayout.sm="column" style="position: relative;">
    <div style="position: fixed; width: 100%; height: 100%;">
      <div fxFlex="25" fxLayout="column" class="serendipitous-left-panel" fxLayoutAlign="end center">
        <p class="serendipitous-categoryTitle">{{listingService.grouping.categoryTitle}}</p>
        <p class="serendipitous-categorySubtitle">{{listingService.grouping.categorySubtitle}}</p>
        <div (click)="toggleDetail($event)" class="serendipitous-questionmark">
          <img *ngIf="listingService.grouping.displayMode === 'Serendipitous'" src="assets/img/questionmark.png">
          <img *ngIf="listingService.grouping.displayMode === 'Voting Results'" src="assets/img/alleBidrag.png">
        </div>
        <img class="ntnu-logo" src="assets/img/logo_ntnu_gray.png"/>
      </div>
    </div>
    <app-carousel></app-carousel>
  </div>
</div>
