.brick {
  position: relative;
  height: 200px;
  width: 200px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
}

.brick img {
  height: 200px;
  width: 200px;
}

.brick-details {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 2px 5px;
  background-color: rgba(0,0,0,0.4);
}

.brick-caption {
  font-family:"HelveticaNeueW02-45Light", Helvetica, sans-serif;
  font-size: 0.8em;
  color: white;
}

.brick-username {
  font-family:"HelveticaNeueW02-75Bold", Helvetica, sans-serif;
  font-size: 0.8em;
  color: white;
}

.zoombox-image {
  width: 100%;
  height: auto;
}
.zoombox-close {
  position: absolute;
  left: 10px; top: 10px;
  font-size: 2em;
  font-weight: bold;
  font-family:"HelveticaNeueW02-45Light", Helvetica, sans-serif;
  padding: 5px 10px;
  background-color: rgba(255,255,255,0.8);
  cursor: pointer;
}
.zoombox-details {
  position: absolute;
  bottom: 5px;
  left: 0;
  padding: 2px 5px;
  background-color: rgba(0,0,0,0.4);
}
.zoombox-container {
  position: relative;
  border: solid white 30px;
  background-color: white;
}
