<div *ngIf="showGrid && grouping.displayMode === 'Serendipitous'">
  <div *ngFor="let contribution of contributions">
    <app-contribution [contribution]="contribution" [grouping]="grouping" (click)="zoomContribution(contribution)"></app-contribution>
  </div>
</div>

<div *ngIf="showGrid && grouping.displayMode === 'Voting'">
  <div *ngFor="let contribution of contributions">
    <app-contribution [contribution]="contribution" [grouping]="grouping" (click)="zoomContribution(contribution)"></app-contribution>
  </div>
</div>

<div class="Absolute-Center is-Responsive is-Fixed" *ngIf="zoomedContribution !== null">
  <div class="zoombox-container">
    <img class="zoombox-image" alt="" [src]="zoomedContribution.image.url"/>
    <div class="zoombox-close" (click)="zoomedContribution = null">X</div>
    <div class="zoombox-details">
      <span class="contribution-caption">{{zoomedContribution.caption}}</span><br>
      <span class="contribution-username">{{zoomedContribution.user.username}}</span>
    </div>
  </div>
</div>
