body {
  font-family: Helvetica, Helvetica, sans-serif;
  color: black;
  background: white;
  font-size: 1em;
}

p, span {
  font-family: Helvetica, Helvetica, sans-serif;
  margin: 0;
}

@font-face{
  font-family:"HelveticaNeueW02-45Light";
  src:url("../assets/fonts/HelveticaNeueW02-45Light/HelveticaNeueW02-45Light.eot?#iefix");
  src:url("../assets/fonts/HelveticaNeueW02-45Light/HelveticaNeueW02-45Light.eot?#iefix") format("eot"),url("../assets/fonts/HelveticaNeueW02-45Light/HelveticaNeueW02-45Light.woff2") format("woff2"),url("../assets/fonts/HelveticaNeueW02-45Light/HelveticaNeueW02-45Light.woff") format("woff"),url("../assets/fonts/HelveticaNeueW02-45Light/HelveticaNeueW02-45Light.ttf") format("truetype"),url("../assets/fonts/HelveticaNeueW02-45Light/HelveticaNeueW02-45Light.svg#48d599a6-92b5-4d43-a4ac-8959f6971853") format("svg");
}

@font-face{
  font-family:"HelveticaNeueW02-75Bold";
  src:url("../assets/fonts/HelveticaNeueW02-75Bold/HelveticaNeueW02-75Bold.eot?#iefix");
  src:url("../assets/fonts/HelveticaNeueW02-75Bold/HelveticaNeueW02-75Bold.eot?#iefix") format("eot"),url("../assets/fonts/HelveticaNeueW02-75Bold/HelveticaNeueW02-75Bold.woff2") format("woff2"),url("../assets/fonts/HelveticaNeueW02-75Bold/HelveticaNeueW02-75Bold.woff") format("woff"),url("../assets/fonts/HelveticaNeueW02-75Bold/HelveticaNeueW02-75Bold.ttf") format("truetype"),url("../assets/fonts/HelveticaNeueW02-75Bold/HelveticaNeueW02-75Bold.svg#25e09910-ffc3-4fc4-b0d1-db9a95dface8") format("svg");
}

@font-face{
  font-family:"HelveticaNeueW02-UltLight";
  src:url("../assets/fonts/HelveticaNeueW02-UltLight/HelveticaNeueW02-UltLight.eot?#iefix");
  src:url("../assets/fonts/HelveticaNeueW02-UltLight/HelveticaNeueW02-UltLight.eot?#iefix") format("eot"),url("../assets/fonts/HelveticaNeueW02-UltLight/HelveticaNeueW02-UltLight.woff2") format("woff2"),url("../assets/fonts/HelveticaNeueW02-UltLight/HelveticaNeueW02-UltLight.woff") format("woff"),url("../assets/fonts/HelveticaNeueW02-UltLight/HelveticaNeueW02-UltLight.ttf") format("truetype"),url("../assets/fonts/HelveticaNeueW02-UltLight/HelveticaNeueW02-UltLight.svg#6dfe33a4-0ad5-4c85-8e01-f48ecfe3c167") format("svg");
}

.detailContainer {
  margin: auto;
  padding: 5% 10%;
  max-width:  800px;
}

.text-mainHeading {
  font-family:"HelveticaNeueW02-UltLight", Helvetica, sans-serif;
  font-size: 4em;
  text-align: center;
  width: 100%;
  margin: 20px;
}

.text-subHeading {
  font-family:"HelveticaNeueW02-75Bold", Helvetica, sans-serif;
  font-size: 1.5em;
  margin: 20px 0;
}

.text-bold {
  font-weight: bold;
}

.text-footnote {
  font-size: 0.75em;
}

@media all and (max-width: 600px) {
  .text-mainHeading {
    font-size: 2em;
    margin: 10px 5px;
  }
}
