<div class="vettingHeader" *ngIf="selectedGrouping">
  <p>Selected Group: {{selectedGrouping.categoryTitle}}</p><br>
</div>


<div class="vettingContainer" fxLayout="row">

  <div fxFlex="40">
    <mat-list>
      <h3 matSubheader>Groupings</h3>
      <mat-list-item [ngClass]="{'itemSelected' : selectedGrouping === group}" *ngFor="let group of listingService.groupingsAsValue">
        <p matLine (click)="showContributionsFor(group)">{{group.categoryTitle}}</p>
      </mat-list-item>
    </mat-list>
  </div>

  <div fxFlex="60">
    <mat-list>
      <h3 matSubheader>Contributions</h3>
      <mat-list-item class="increasedHeight" *ngFor="let contribution of contributions">
        <div fxLayout="row" style="width: 100%;">
          <div fxFlex="90">
            <p matLine class="wrapLine">{{contribution.caption}}</p>
          </div>
          <div fxLayout="column" fxLayoutAlign="space-around end">
            <button style="color: red" (click)="deleteContribution(contribution)">Delete</button>
            <button style="color: blue" (click)="approveContribution(contribution)" *ngIf="!contribution.vetted">Approve</button>
            <span style="color: blue; font-size: 0.7em" *ngIf="contribution.vetted">approved</span>
          </div>
        </div>
      </mat-list-item>
    </mat-list>
  </div>




</div>
